@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  --background-color: #d8d8d9;
  --text-color: black;
  --control-background-color: #f0f0f0;
  --control-border-color: #929292;
  --control-focus-color: #32bcff;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, sans-serif;
  min-width: 320px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.timer-container {
  padding: 10px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.timer-input {
  text-align: center;
}

.timer-input__label {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.timer-input__time {
  display: inline-block;
  max-width: 500px;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: var(--control-background-color);
  border: 1px solid var(--control-border-color);
  color: var(--text-color);
}

.timer-input__time::selection {
  background-color: var(--control-border-color);
}

.template-buttons, .controls {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.template-buttons__button {
  margin: 5px 10px;
}

.controls__button {
  margin: 5px 10px;
}

button {
  background-color: var(--control-background-color);
  border: 1px solid var(--control-border-color);
  padding: 10px 15px;
  color: var(--text-color);
}

button:disabled {
  opacity: 0.4;
}

button:focus {
  outline: 1px dotted var(--control-focus-color);
  outline-offset: -1px;
}

@media (min-width: 500px) {
  .timer-container {
    padding: 40px;
  }

  .timer-input__time {
    font-size: 65px;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #383c4a;
    --text-color: #9e9e9e;
    --control-background-color: #404552;
    --control-border-color: black;
    --control-focus-color: #929292;
  }
}
